@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,400;1,200&display=swap');

.container{
  display: flex;
  flex-direction: column;
  align-items: center;
  .inputs {
    display: flex;
    flex-direction: column;
  }
  .editButtons{
    display: flex;
    justify-content: center;
    margin-top: 10px;
    .edit{
      width: 100%;
      background-color: skyblue;
      border-radius: 15px;
    }
    .back{
      width: 100%;
      background-color: white;
      border-radius: 15px;
    }
  }
}
