
.navbar-brand {
    font-size: 32px;
    margin: 0 20px 0 100px;
}

.details-title {
    margin-top: 50px;
}

.carousel-cont {
    margin: 0 auto auto;
    padding: 20px;

}

.card-picture {
    width: 100%;
}

.details-foot {
    width: 100%;
}


.info {
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}