.navCont{
  display: flex;
  justify-content: center;
  .navBar {
  height: 100px;
  margin: 30px 0 50px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 0;
  list-style: none;
  width: 800px;
  border-radius: 10px;
  background: linear-gradient(150deg, rgba(2,0,36,1) 0%, rgba(9,9,121,1) 19%, rgba(0,212,255,1) 80%);
  }
  a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: white;
    border-radius: 50px;
    font-weight: bold;
    color: darkblue;
    border: 5px double white;
    outline: 2px solid black;
    cursor: pointer;
    &:hover {
      background-color: skyblue;
      color: white;
      border: 5px double black;
      outline: 2px solid white;
      outline-offset: -3px;
    }
  }
  .homeLi {
    font-size: 40px;
    padding: 10px 30px;
  }
}
