/* Your styles here */

body
{
    color: #393d41;
    font-size: 1.2rem;
    font-family: 'Open Sans', sans-serif;
    line-height: 1.5;
}

/* Head */

#headboi
{
    background-color: black;
    padding: 20px 10px 20px 10px;
}

#logoboi
{
    background-color: black;
    width: 150px;
    margin-left: 2.5em;
}

/* Main */

#risk-it-all
{
    text-align: center;
    background-image: url(../images/banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12em;
}

#divide
{
    margin: 1em;
    padding: 0em 10em 0em 10em;
}

#goboi
{
    background-color: #f04c2f;
    color: #ffffff;
    font-family: 'Montserrat', sans-serif;
    font-size: 0.7em;
    font-weight: bold;
    text-decoration: none;
    padding: 1em 2em;
    border-radius: 5px;
}

.t-boi
{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 1.1em;
}

.h-whiteboi
{
    color: #c8e7f0;
}

#pcboi
{
    border-radius: 100%;
    margin: 3em;
}

.sadboi
{
    margin-bottom: 1.5em;
}

.sadt
{
    color: #25a2c3;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    line-height: 1.5;
    margin-bottom: 0.8em;
}

#pt2
{
    
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 8em auto;
    padding: 0em 15em;
}

#snitchboi
{
    text-align: center;
    padding: 2em 1em;
    color: #c8e7f0;
    background-color: #e22d0e;
}

#snitch-t
{
    font-size: 1.5em;
    margin-bottom: 1em;
}

.italic
{
    margin-bottom: 1em;
}

#marioboi
{
    font-size: 0.8em;
}

/* Side */

a
{
    text-decoration: none;
}

#sideboi
{
    text-align: center;
    padding: 20px;
    size: 350px 300px;
    display: flex;
    justify-content: center;
    flex-wrap: nowrap;
    align-items: center;
    margin: 6em auto;
    gap: 1em;
}

.artboi
{
    width: 400px;
    border: 1px solid #dee1e3;
    border-radius: 5px;
}

.imgboi
{
    width: 400px;
    height: 260px;
}


/* Foot */

#footboi
{
    background-color: #25a2c3;
    color: #c8e7f0;
    padding: 2em 33em;
}

#footboi h3
{
    font-size: 1.5em;
    padding-bottom: 1.5em;
    font-weight: 400;
}

#fdiv
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

ul
{
    padding-bottom: 1em;
}

li
{
    list-style: none;
}

hr
{
    height: 100%;
}

#footboi a
{
    color: #c8e7f0;
}

#endboi
{
    text-align: center;
    padding-bottom: 1.5em;
    font-size: 0.8em;
}