<h2>See What You've Already Achieved Here!</h2>
<div>
  <div *ngFor="let toDoElement of arrList"  class="elementContainer">
    <div *ngIf="toDoElement.completed == true">
      <div class="textContainer" >
        <p class="elementId">{{toDoElement.id}}</p>
        <p class="elementTitle">{{toDoElement.title}}</p>
      </div>
      <div class="buttons">
        <button (click)="deleteToDo(toDoElement.id)" class="delete">Delete</button>
        <button (click)="undo(toDoElement)" class="delete">Undo</button>
      </div>
    </div>
  </div>
</div>
