$logo-height: 30px;
$main-width: 100%;

$main-margin-top: 2em;
$main-margin-bot: 2em;
$main-margin-left: 2em;
$main-margin-right: 2em;

$main-padding-top: 1em;
$main-padding-bot: 1em;
$main-padding-left: 1em;
$main-padding-right: 1em;

$border-top: 1px solid black;

$text-color: #f4f4f4;

$font-family-nav: 'Roboto', sans-serif;
$font-family-main: 'Bruno Ace SC', cursive;

$button-first-color: #0e6cff;
$button-first-hover: #71a5f8;

$button-second-color: #ff8700;
$button-second-hover: #ffc88a;

$button-third-color: #4caf50;
$button-third-hover: #a1fca5;

$bg-hero-color: #640fc5;