.artCont {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #fef7e2;
    color: #711906;
    font-family: sans-serif;
    border-radius: 50px;
}

.text h3 {
    font-size: 1.5em;
    margin-top: 0;
}

.text {
    margin: 40px;
}

.bgImg {
    background-image: url(imgs/honey.jpg);
    width: 100%;
    height: 250px;
    background-size: cover;
}

@media screen and (min-width: 576px) {
    .text{
        flex-direction: row;
        align-items: center;
        flex-wrap: nowrap;
    }

    .bgImg {
        order: -1;
    }
}